name: Publish 'cu128-slim' to Docker Hub

on: 
  workflow_dispatch: # Can be manually triggered
      inputs:
        # [新增] 添加输入变量，默认值可以是 'latest' 或者留空
        comfyui_version:
          description: 'ComfyUI Version (Tag, Branch, or Commit SHA)'
          required: false
          default: 'latest'

jobs:

  build-publish-cu128-slim:
    environment: Publish to Docker Hub
    runs-on: ubuntu-latest
    steps:
      -
        name: Maximize build disk space
        uses: easimon/maximize-build-space@master
        with:
          overprovision-lvm: 'true'
          remove-android: 'true'
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          swap-size-mb: 512
      -
        name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
      -
        name: Git checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
      -
        name: Build and push 'cu128-slim'
        uses: docker/build-push-action@v6
        with:
          context: ./cu128-slim
          file: ./cu128-slim/Dockerfile
          tags:  |
            xkrfer/comfyui-boot:cu128-slim
            xkrfer/comfyui-boot:cu128-slim-${{ steps.date.outputs.date }}
          push: true
          # [新增] 将输入变量传递给 Docker 构建参数
          build-args: |
            COMFYUI_VERSION=${{ github.event.inputs.comfyui_version }}
            BUILD_DATE=${{ steps.date.outputs.date }}
